/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style du corps de la page */
  body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
  }
  
  /* Style de l'en-tête */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #000000;
    z-index: 999;
  }
  
  .header__logo {
    padding: 10px;
    width: 7% ;
    margin-left : 90px;
    margin-right : 80px
    
  }
  
  /* Style de la barre de navigation */
  .navbar {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .navbar__item {
    padding : 15px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
  }

  .navbar__logo {
    padding : 15px;
    font-weight: bold;
    cursor: pointer;
    height:auto;
    width:7%;
    margin-left : 90px;
    margin-right : 80px;
    font-size:20px;
  }
  
  .navbar__item:hover {
    color: #d4d4d4;
  }


  
  /* Style de la bannière principale */
  .banner {
    position: relative;
    height: 448px;
    object-fit: contain;
  }
  
  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
  }
  
  .banner__buttons {
    margin-top: 1rem;
  }
  
  .banner__button {
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
  }
  
  .banner__button:hover {
    background-color: #e50914;
  }
  
  .banner__button:last-child {
    color: #000000;
    background-color: #e6e6e6;
  }
  
  /* Style de la section de rangée de films */
  .row {
    color: #ffffff;
    margin-left: 20px;
  }
  
  .row__title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: thin;
  }
  
  .row__poster {
    max-height: 250px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
  }
  
  .row__poster:hover {
    transform: scale(1.08);
  }
  
  